### Linguagens de Programação (para estatística)

- Python
- R
- Julia
- As funções do Excel (Estatística)

### Estatística Descritiva

#### Introdução

- Insights
- Básica (população, amostra, amostragem, parâmetro, estimador e estimativa)

#### Experimento cientifico

- População: é todo o conjunto do experimento.
- Resultado: parâmetros

In [1]:
total_bets_brasil = 187.00
print(f"Total de Bets no Brasil:{total_bets_brasil:.2f}")

Total de Bets no Brasil:187.00

In [2]:
# Crie uma amostra de 10 valores do faturamento de 10 Bets.
lista_bets = [15.5, 22.3, 18.7, 25.0, 30.2, 12.8, 20.1, 17.6, 19.4, 23.5]

### Tipos de Dados
- Engenharia de Variáveis
- Classifica as variáveis

In [3]:
import pandas as pd

In [4]:
dados_bets = pd.read_csv("datasets/maiores_marcas_bets_brasil.csv", sep=",")

In [5]:
dados_bets.head(10)

   Posição              Marca   Faturamento
0        1             Betano  1,429 bilhão
1        2             Bet365   741 bilhões
2        3        Sportingbet   540 bilhões
3        4  Esportes da Sorte   425 milhões
4        5           Superbet   361 milhões
5        6        Betnacional   359 milhões
6        7             7Games   285 milhões
7        8         EstrelaBet   175 milhões
8        9           VaideBet   164 milhões
9       10             Onabet   143 milhões

In [6]:
# armazenar apenas os 10 primeiros registros do DataFrame em uma nova variável
top_10_bets = dados_bets.head(10)

In [7]:
top_10_bets

   Posição              Marca   Faturamento
0        1             Betano  1,429 bilhão
1        2             Bet365   741 bilhões
2        3        Sportingbet   540 bilhões
3        4  Esportes da Sorte   425 milhões
4        5           Superbet   361 milhões
5        6        Betnacional   359 milhões
6        7             7Games   285 milhões
7        8         EstrelaBet   175 milhões
8        9           VaideBet   164 milhões
9       10             Onabet   143 milhões

In [8]:
print("posição: variável qualitativa ordinal")

posição: variável qualitativa ordinal

### Quantitativa e Qualitativa
- Quantitativa: contagens númericas
- Qualitativos: categorias
- Quantitativas (Discreta,Continua) Discreto (contagens) Contínuos (mensurações)
- Qualitativos (Nominal (sem ordem,nomes etc..) - exemplo Marca) - Ordinal

### Medidas de Tendência Central
- Media
- Mediana
- Moda

### Medidas de posição relativa
### Medidas de Dispersão
### Gráficos - parte 1 (comuns)
### Gráficos - parte 2 (mais específicos)
### Tabelas (parte 1) - distribuições e frequências
### Tabelas (parte 2) - tabelas cruzadas
### Probabilidade (modelos probabilísticos)
### Estatística Bayesiana

- Inferência
- Intuição